.login .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-tabs {
    position: absolute;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    min-width: 40%;
}

.login-home,
.login-offline,
.login-AZauth,
.login-AZauth-A2F {
    display: none;
}

.login-text2 {
    font-size: 2.9rem;
    position: relative;
    top: -6px;

    /* xd */
    font-family: Arial, sans-serif;
    font-weight: normal;
}

.login-text {
    font-size: 3rem;
    position: relative;
    top: -2px;
}

.login-text3 {
    font-size: 3rem;
    position: relative;
    top: -2px;
    background: linear-gradient(90deg, #ff0000, #c70000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
    color: transparent;
}

.login-text, .login-text3 {
    display: inline-block;
    margin-right: 10px;
}

.login-text-identificate {
    font-size: 2.0rem;
    position: relative;
    top: -10px;
}

/* conect cancel */
.connect,
.cancel {
    background: #ff0000;
    color: rgb(0, 0, 0);
    border: solid 4px #ff0000;
    border-radius: 1px;
    padding: 0.3rem 4rem;
    font-size: inherit;
    font-weight: bold;
    margin: 15px 10px;
    transition: transform 0.3s ease-in-out; 
}

.connect:hover,
.cancel:hover {
    transform: scale(1.1);
    background: #d10000;
    border-color: #d10000;
}


.input-login .email,
.input-login .password,
.A2F {
    color: var(--color);
    background: none;
    border: solid 2px var(--element-color);
    border-radius: 30px;
    width: 50%;
    padding: 0.4rem 1rem;
    margin-top: 10px;
}

.login-select {
    display: none;
}

/* select microft offline */
.select-microsoft,
.select-offline {
    background: #ff0000;
    color: rgb(0, 0, 0);
    border-color: #ff0000;
}

.select-microsoft:hover,
.select-offline:hover {
    transform: scale(1.1);
    background: #d10000;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out; 
  }

  html {
    scrollbar-width: none;
    -ms-overflow-style: hidden;
}

html::-webkit-scrollbar {
    display: none;
}

@keyframes fall{
    to {
      transform: translateY(105vh);
    }
}
