@import "font.css";
@import 'theme.css';

/* contenedor general */
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: #ffffff00;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #d8092100;
    font-family: "Poppins", sans-serif;
    color: var(--color);
    overflow: hidden;
}

#splash {
    width: 500px;
    max-width: 90%;
    text-align: center;
    pointer-events: none;
}

.splash {
    position: relative;
    top: 1px;
    transform: translate(-50%);
    width: 258px;
    height: 248px;
    transition: opacity .3s, top 1.5s;
    opacity: 0;
}

#splash.visible .splash {
    opacity: 1;
    transform: translateY(0);
}

.splash-message {
    font: bold 22px/28px Poppins;
    margin: 0 0 8px;
    opacity: 0;
    transition: opacity .4s ease;
}

.splash-author {
    font: normal 11px/14px Poppins;
    margin: 2px 0 8px;
    opacity: 0;
    transition: opacity .4s ease;
}

.splash-author .author {
    font-weight: 700;
}

.message {
    font: bold 24px/35px Poppins;
    margin: 0 0 14px;
    opacity: 0;
    transition: opacity .4s ease;
}

#splash.visible .splash-message,
#splash.visible .splash-author,
#splash.visible .message {
    opacity: 1;
}

.progress {
    position: relative;
    width: 100%;
    height: 10px;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 8px;
    border: 2px solid rgba(102, 102, 102, 0.3);
    background-color: rgba(102, 102, 102, 0.3);
    opacity: 0;
    transition: opacity .3s ease;
    margin-top: 16px;
    box-shadow: inset 0 0 8px rgba(102, 102, 102, 0.2);
}

.progress.show {
    opacity: 1;
}

.progress::-webkit-progress-bar {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    box-shadow: inset 0 0 8px rgba(102, 102, 102, 0.2);
}

.progress::-webkit-progress-value {
    background: linear-gradient(90deg, var(--purple-dark) 0%, var(--purple) 50%, var(--purple-light) 100%);
    border-radius: 6px;
    transition: width 0.2s ease;
    box-shadow: 0 0 12px rgba(102, 102, 102, 0.8);
}

.progress::-moz-progress-bar {
    background: linear-gradient(90deg, var(--purple-dark) 0%, var(--purple) 50%, var(--purple-light) 100%);
    border-radius: 6px;
    transition: width 0.2s ease;
    box-shadow: 0 0 12px rgba(102, 102, 102, 0.8);
}
